In [1]:
import pickle
import pandas as pd
import numpy as np
import datetime as dt
import re

In [2]:
movie_df = pickle.load(open('clean_movie_df.pickle', 'rb'))

In [3]:
#read holidays csv
holidays = pd.read_csv('usholidays.csv')

#convert all dates to datetime/timestamp
movie_df.release = pd.to_datetime(movie_df.release)
holidays.loc[:,'Date'] = pd.to_datetime(holidays.Date)

#filter out holiday dates before the year 2000
holidays = holidays[holidays.Date >= dt.datetime(2000,1,1)].Date

#########################IF I have Time: Try to replace this with numpy array combinations
def find_closest_holiday(date):
    """
    Finds the days to the nearest US Federal Holiday
    args:
    date (timestamp)
    returns:
    nearest_hol (int) days to the nearest holiday
    """
    nearest_hol = 365
    for hol in holidays:
        d = abs((hol - date).days)
        if d < nearest_hol:
            nearest_hol = d
    return nearest_hol

movie_df['holiday_distance'] = movie_df.release.map(find_closest_holiday)
movie_df.drop(columns='release', inplace=True)

In [4]:
movie_df.rename(columns={'index':'title'}, inplace=True)

In [5]:
#looking for movies with more than 1 director
#shows a small subset
movie_df.Director[movie_df.Director.str.split(pat=',').map(len)>2]

1663    Frank Miller, Quentin Tarantino, Robert Rodriguez
624                Jeff Schaffer, Alec Berg, David Mandel
1264    Elizabeth Banks, Steven Brill, Steve Carr, Rus...
308           Mark Andrews, Brenda Chapman, Steve Purcell
504               Kyle Balda, Pierre Coffin, Eric Guillon
1170             Eric Darnell, Tom McGrath, Conrad Vernon
2191          Bibo Bergeron, Don Paul, Jeffrey Katzenberg
1655          Andrew Adamson, Kelly Asbury, Conrad Vernon
826            George Miller, Warren Coleman, Judy Morris
1256            Pete Docter, David Silverman, Lee Unkrich
1438           Jorge Blanco, Javier Abad, Marcos Martínez
1644           Bibo Bergeron, Vicky Jenson, Rob Letterman
912     Gabriel Riva Palacio Alatriste, Rodolfo Riva P...
Name: Director, dtype: object

In [6]:
columns_to_count = ['Director', 
                    'distr', 
                    'Composer', 
                    'Cinematographer', 
                    'Editor', 
                    'Production Designer', 
                    'Writer', 
                    'Producer']
#Gets number of times the crewmember or distributor works on something in the dataframe.  
#Larger n may associate with more experience
for crew in columns_to_count:
    curr_portfolio = movie_df[crew].value_counts().reset_index()
    curr_portfolio = pd.DataFrame(curr_portfolio).rename(columns={'index':crew, crew:crew+'_portfolio'})
    movie_df = movie_df.merge(curr_portfolio, left_on=crew, right_on=crew)

In [7]:
#Generate Target of ROI
movie_df['roi'] = (movie_df.gross_dom-movie_df.budget)/movie_df.budget

In [8]:
movie_df.genres.str.get_dummies(sep=', ')

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,Horror,Music,Musical,Mystery,Romance,Sci-Fi,Sport,Thriller,War,Western
0,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1,1,1,0,1,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
2,0,1,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0,1,0,0,1,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1996,0,0,0,0,0,0,0,1,0,0,...,1,0,0,1,0,0,0,1,0,0
1997,0,1,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1998,0,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,1,0,0
1999,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2000,0,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
#get dummies for genres
movie_df.set_index('title', inplace=True)
movie_df = movie_df.merge(movie_df.genres.str.get_dummies(sep=', '), left_index=True, right_index=True, );

#get dummies for mpaa rating
movie_df = pd.get_dummies(movie_df, columns=['mpaa'], drop_first=False)

In [18]:
movie_df.columns

Index(['link_stub', 'theaters', 'desc', 'distr', 'opening', 'budget',
       'runtime', 'genres', 'gross_dom', 'gross_inter', 'gross_world',
       'Director', 'Writer', 'Producer', 'Composer', 'Cinematographer',
       'Editor', 'Production Designer', 'Actors', 'holiday_distance',
       'Director_portfolio', 'distr_portfolio', 'Composer_portfolio',
       'Cinematographer_portfolio', 'Editor_portfolio',
       'Production Designer_portfolio', 'Writer_portfolio',
       'Producer_portfolio', 'roi', 'Action', 'Adventure', 'Animation',
       'Biography', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Family',
       'Fantasy', 'History', 'Horror', 'Music', 'Musical', 'Mystery',
       'Romance', 'Sci-Fi', 'Sport', 'Thriller', 'War', 'Western', 'mpaa_G',
       'mpaa_PG', 'mpaa_PG-13', 'mpaa_R'],
      dtype='object')

In [23]:
prepped = movie_df.drop(columns=['desc', 'distr', 'opening', 'budget',
       'runtime', 'genres', 'gross_dom', 'gross_inter', 'gross_world',
       'Director', 'Writer', 'Producer', 'Composer', 'Cinematographer',
       'Editor', 'Production Designer', 'Actors'])

In [26]:
with open('processed_movie_df.pickle', 'wb') as to_write:
    pickle.dump(prepped, to_write)